ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(238, 0, 0, 0.552)(51, 51, 51, 0.552);
}

li {
    float: left;

}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    font-family: "Times New Roman", serif;
    text-shadow: 2px 2px 4px #000000;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: rgba(90, 101, 101, 0.687);
    color: rgb(253, 250, 250);
}

ul {
    border-radius: 33px;
    background-color: rba(46, 72, 73, 0.18);
    border: 2px solid #6e9cff;
    border-radius: 3px;
    transition: border-color 0.5s ease;
}

li {
    display: inline;
}

body {
    width: 100%;
   
    background: #131417   ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: inherit;
    min-height: 700px;
   
    margin: 0;
    padding: 0;
  
}